[Unit]
Description=Configure zram0 as swap

[Service]
Type=oneshot
ExecStart=modprobe zram
ExecStart=zramctl zram0 -s 12G -t 6 -a lzo-rle
ExecStart=mkswap /dev/zram0
ExecStart=swapon /dev/zram0 -p 100
ExecStop=swapoff /dev/zram0
ExecStop=zramctl -r zram0

[Install]
WantedBy=multi-user.target
